{% extends 'base.html' %}
{% block content %}
<body>
{% if user.is_authenticated %}
    <h2>You are already logged in as {{ user.username }}</h2>
    <p>You wish to<a href="/accounts/logout/"> Logout?</a></p>
{% else %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login">
        {% if error %}
        <p><strong>{{ error }}</strong></p>
        {% endif %}
    </form>
{% endif %}
</body>
{% endblock %}
